<div class="login_center">
  <div class="login_title">
    Warehouse management system(showroom)
  </div>
  <div class="login_from">
    <%= form_for :user do |user| %>
        <div>
          <div class="login_item">
            <%= user.label :name %>
          </div>
          <div class="login_item">
            <%= user.text_field :name %>
          </div>
        </div>
        <div>
          <div class="login_item">
            <%= user.label :password %>
          </div>
          <div class="login_item">
            <%= user.password_field :password %>
          </div>
        </div>
        <div class="clear"></div>
        <div class="login_item">
          <%=  user.submit :login  %>
        </div>
    <% end %>

    <%= @status %>
  </div>



</div>
