<% content_for :right_top_nav do %>
    <div xmlns="http://www.w3.org/1999/html">
      <a class="top_link" href="/main/list"><< back</a>
      <div class="clear"></div>
    </div>
<% end %>


<%= form_for :item,  url: items_path do |i| %>

    <div class="content" style="margin-top: 20px;">
      <div class="content_row">
        <div class="content_cell" style="width:100px">
          <%= i.label :货号  %>
        </div>
        <div class="content_cell">
          <%= i.text_field :item_code %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content_row">
      <div class="content_cell" style="width:100px">
        <%= i.label :类型  %>
      </div>
      <div class="content_cell">
        <%= i.select :type_id,(@types.collect {|m| [m.name, m.id]}), :required => true %>
      </div>
        <div class="clear"></div>
      </div>
      <div class="content_row">
      <div class="content_cell" style="width:100px">
        <%= i.label :品牌  %>
      </div>
      <div class="content_cell">
        <%= i.select  :brand_id,(@brands.collect {|m| [m.name, m.id]}), :required => true %>
      </div>
      <div class="clear"></div>
      </div>
      <div class="content_row">
        <div class="content_cell" style="width:100px">
          <%= i.label :价格  %>
        </div>
        <div class="content_cell">
          <%= i.text_field :price, :required => true %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content_row">
        <%=  i.submit :创建  %>
      </div>
    </div>
<% end %>
